<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
  
  <ul>
        <% @tasks.each do |task| %>
        <li><%= link_to task.id, task %> : <%= task.status %> &gt; <%= task.content %></li>
      <% end %>
    </ul>
  
  <p><%= link_to '新規タスクの投稿', new_task_path %></p>
  <p> <%= link_to 'Logout', logout_path, method: :delete %></p>
  
<% else %>

    <p><%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %></p>
    <p><%= link_to 'Login', login_path, class: 'nav-link' %></p>
<% end %>